header{
    height: 100hv;
    padding-top: 7erm;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
}


/* Create CAT File CSS */
.cat{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}